<ul>
  <p><%= link_to event.description, event ,class: "event-description" %></p>
  <p> Location: &nbsp<%= event.location %></p>
  <p> Date: &nbsp<%= event.time %></p>
  <p> Created by: &nbsp<%= event.creator.name %></p>
  <% if current_user?(event.creator) %>
  <div class="row">
  <div class="col-md-1">
    <%= button_to "delete", event, method: :delete,
                                  data: { confirm: "You sure?" }, class: "btn-danger" %>
  </div>
  <div class="col-md-1">
    <%= button_to "edit", edit_event_path(event) , method: :get, class: "btn-primary" %>
  </div>
  </div>
  <% end %>

</ul>